@import '../../../styles/variables';

$tag-gutter: 8px;

.tags {
  margin-bottom: -$tag-gutter;
}

.tag {
  margin-bottom: $tag-gutter;
}

.terminal-modal {
  :global {
    .ant-modal-header {
      background: $menu-dark-bg;
      border-bottom: $menu-dark-submenu-bg;
    }
    .ant-modal-title, .ant-modal-close {
      color: $text-color-dark;
    }
  }
}
