@import '../../styles/variables';

.readyIcon{
  color: $success-color;
  padding-left: $padding-xs;
}

.errorIcon{
  color: $error-color;
  padding-left: $padding-xs;
}

.pendingIcon{
  color: $processing-color;
  padding-left: $padding-xs;
}
