
@import '../../../styles/variables';
$tag-gutter: 8px;

.column {
  flex: 2;

  :global {
    .title {
      color: $text-color-secondary;
      font-size: $font-size-sm;
      line-height: 20px;
    }
    .content {
      margin-bottom: 0;
    }
  }
}

.leading {
  width: 100%;

  :global(.title) {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.contentSection{
  padding-bottom: $padding-md;
}

.readyIcon{
  color: green;
  padding-left: $padding-xs;
}

.errorIcon{
  color: green;
  padding-left: $padding-xs;
}

.labels {
  margin-bottom: -$tag-gutter;
}

.table {
  th, td {
    padding: $padding-md !important;
  }
}

.label {
  margin-bottom: $tag-gutter;
}

.radioGroup {
  margin-top: 15px;
  margin-bottom: 10px;
}
