
@import '../../../styles/variables';
$tag-gutter: 8px;

.column {
  flex: 2;

  :global {
    .title {
      color: $text-color-secondary;
      font-size: $font-size-sm;
      line-height: 20px;
    }
    .content {
      margin-bottom: 0;
    }
  }
}

.leading {
  width: 100%;

  :global(.title) {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nodeContentSection{
  padding-bottom: $padding-md;;
}

.labels {
  margin-bottom: -$tag-gutter;
}

.table {
  background-color: #fafafa;
  padding-left: $padding-md;;
  padding-right: $padding-md;;
}

.label {
  margin-bottom: $tag-gutter;
}
