
@import '../../../styles/variables';
$tag-gutter: 8px;

.column {
  flex: 2;

  :global {
    .title {
      color: $text-color-secondary;
      font-size: $font-size-sm;
      line-height: 20px;
    }
    .content {
      margin-bottom: 0;
    }
  }
}

.leading {
  width: 100%;

  :global(.title) {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.labels {
  margin-bottom: -$tag-gutter;
}

.label {
  margin-bottom: $tag-gutter;
}

.readyIcon{
  color: green;
  padding-left: $padding-xs;
}

.errorIcon{
  color: red;
  padding-left: $padding-xs;
}

.pendingIcon{
  padding-left: $padding-xs;
}

.table {
  th, td {
    padding: $padding-md !important;
  }
}

.contentSection{
   padding-bottom: $padding-md;
 }

.drawerBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.add {
  margin: 1em 0;
  width: 100%;
}

.modal {
  :global {
    // .ant-modal {
    //   top: 0;
    // }

    // .ant-modal-content {
    //   height: 100vh;
    // }
  }
}
