@import '../../styles/variables';

.contentSection{
  padding-bottom: $padding-md;
}

.radioGroup {
  margin-top: 15px;
  margin-bottom: 10px;
}

.chart {
  margin: 0 auto;
  .label {
    transform: translateY(-2.4em);
    fill: $text-color-secondary;
  }
}
