@import "../../styles/variables";

.card {
  padding: $card-padding-wider;
  background: #fff;
  border-radius: $border-radius-base;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 40px 6px;
}


.billboard {
  position: relative;
  z-index: 100;
  width: 320px;
  height: 60vh;
  max-height: 480px;
  padding: $card-padding-wider;
  border-radius: $border-radius-base;
  color: #fff;
  background: linear-gradient($purple-6, #8A2387);
  // box-shadow: rgba(0, 0, 0, 0.1) 0 8px 40px 6px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    background-blend-mode: luminosity;
    background-image: url(../../assets/pattern.jpg), linear-gradient($purple-6, #702c63);
    background-position: center center;
    background-size: cover;
    border-radius: $border-radius-base;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 10px 6px;
  }
}

.langMenu {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;

  span {
    cursor: pointer;
    color: $text-color-secondary-dark;
    &:global(.is-actived) {
      color: #fff;
    }
  }

}

.logo {
  height: 48px;
  margin-bottom: 32px;

  img {
    height: 80%;
    vertical-align: middle;
    margin-right: 1em;
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 3.6em;
    color: #fff;
    margin: 0;
  }
}

.header {
  padding-bottom: $padding-md;
  h2, p {
    margin: 0;
  }
}

.form {
  width: 320px;
  padding: $card-padding-wider;
  border-radius: 0 $border-radius-base $border-radius-base 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 40px 6px;

  :global(.ant-form-item:last-of-type) {
    margin: 0;
  }
}

.login-button {
  width: 100%;
}

.icon {
  color: $text-color-secondary;
}

.divider {
  :global(.ant-divider-inner-text) {
    color: $text-color-secondary;
    font-size: $font-size-sm;
    padding: 0 $font-size-sm;
  }
}
